<section class="reg-main-log">
    <!-- <div class="container">         -->
    <div class="container py-5">
        <h2 class="text-center">TERMS AND CONDITIONS</h2><br>

        <p>This section contains the Terms and Conditions of Use of our website <a href="/"
                style="text-decoration: underline; color: blue;">www.arihantplus.com</a>. By accessing this website and
            any of its pages, you are agreeing to these Terms and Conditions. You also agree that Arihant Capital
            Markets Limited can modify or alter the terms and conditions of the use of this service without any
            liability.</p>


        <ul class="term-list pt-3">
            <li>
                Arihant Capital Markets Ltd or any of its affiliates (hereafter referred to as Arihant) shall not be
                liable
                for any misrepresentation, falsification, and deception or for any lack of availability of services
                through
                the website, even if the same are advertised for on the website.
            </li>
            <li>
                No judgment or warranty or representation is made with respect to the accuracy, timeliness, or
                suitability of
                the content of other services or sites to which these screens link, and Arihant shall not be responsible
                therefore.
            </li>
            <li>
                Arihant shall not be liable if the customer downloads any information or software from this website.
                Further,
                Arihant shall not be liable if the Customer makes a copy, modifies, uploads, downloads, transmits, (re)
                publishes it or removes or obscures any intellectual property, including trademarks, copyright or other
                notices or legends contained in any such information or otherwise distributes any service or content
                from this
                website. Arihant shall not bear the responsibility if the Customer modifies or uses the content or
                services
                he/she gets from this website for any purpose other than those permitted, and in doing so violates the
                intellectual property including trademarks, copyright and other proprietary rights of Arihant.
            </li>
            <li>
                The content of the articles and the interpretation of data are solely the personal views of the
                contributors
                and do not in any way reflect the views of Arihant. Users are advised to read carefully the articles and
                other
                data in the website only for their information and to rely on their own judgment when making investment
                decisions. The investments discussed or recommended may not be suitable for all investors. Arihant
                Capital
                Market Ltd. Does not warranty the timeliness, accuracy or quality of the electronic content.
            </li>
            <li>
                The website contains features of the services that are currently being offered by Arihant and those
                intended
                to be offered in the future. Arihant intends to launch the services confirming with the features listed
                on the
                website in total, however due to business need and regulatory requirement the final launch may contain
                variations. Notwithstanding anything contained in the website regarding the services, Arihant may decide
                to
                postpone the offering of the services or may even decide to withdraw the offering or even a currently
                offered
                service altogether.
            </li>
            <li>
                Arihant reserves the right at any time and from time to time to modify or discontinue, temporarily or
                permanently, the Service (or any part thereof) with or without notice at any time. You agree that
                Arihant
                shall not be liable to you or to any third party for any modification, suspension or discontinuance of
                the
                Service.
            </li>
            <li>
                Registration: In order to use My Arihant Service, you must have a valid My Arihant ID (an “Account”). To
                be a
                Registered Member, you must provide Arihant Capital Markets Ltd with certain personal information
                ("Registration Data"). You will choose an Account name and password and provide a contact email address
                during
                the Service's registration process. You are responsible for maintaining the confidentiality of the
                password,
                and are fully responsible for all activities that occur under your password or Account. <br> <br>
                You agree to:
                <ul class="term-list" style="list-style: lower-alpha;">
                    <li>
                        immediately notify Arihant Capital Markets Ltd of any unauthorized use of your password or
                        Account or any
                        other breach of security, and
                    </li>
                    <li>
                        ensure that you sign out and exit from your Account at the end of each session. Arihant shall
                        not be
                        liable for any loss or damage arising from your failure to comply with this. In consideration of
                        use of
                        this Service, you agree to provide true, accurate, current and complete information about
                        yourself as
                        prompted by the My Arihant registration form. If you provide any information that is untrue,
                        inaccurate,
                        not current or incomplete, or Arihant Capital Markets Ltd has reasonable grounds to suspect that
                        such
                        information is untrue, inaccurate, not current or incomplete, Arihant Capital Markets Ltd has
                        the right to
                        suspend or terminate your Account and refuse any and all current or future use of this service
                        (or any
                        portion thereof).
                    </li>
                </ul>
            </li>
            <li>
                Privacy Policy: Registration Data and certain other information about you is subject to
                Arihantcapital.com's <a href="https://www.arihantplus.com/privacy-and-security">Privacy Policy</a>.
                Please read this policy carefully.
            </li>
            <li>
                You are responsible for maintaining the security of your Account and any information you provide on
                Arihant's
                Discussion Board, and you are fully responsible for all activities that occur under the Account and any
                other
                actions taken in connection with the Discussion Board. You agree to immediately notify Arihant of any
                unauthorized uses of the Account or any other breaches of security. Arihant cannot and will not be
                liable for
                any loss or damage from your failure to comply with this security obligation. You acknowledge and agree
                that
                under no circumstances will Arihant be liable, in any way, for any acts or omissions by a Registered
                Member or
                any third party, including any damages of any kind incurred as a result of such acts or omissions.
            </li>
            <li>
                Content Submitted: Arihant Capital Markets Ltd does not claim any ownership of the Content you place on
                the
                discussion board or in any forum on or within the Site. However, by submitting Content to Arihant
                Capital
                Markets Ltd for inclusion on any forum on or within the Site (a “Forum”), you grant Arihant Capital
                Markets
                Ltd a worldwide, irrevocable, perpetual, royalty-free, non-exclusive license to reproduce, modify, adapt
                and
                publish such Content. Additionally, by submitting Content to Arihant Capital Markets Ltd for inclusion
                in any
                Forum, you permit anyone to copy, distribute, display and perform your Content, royalty-free, on the
                condition
                that they credit your authorship each time they do so.
            </li>
            <li>
                You agree and acknowledge that you are responsible for maintaining the security of your password and
                other
                Account access information, and furthermore that any action taken or Content posted, uploaded or
                transmitted
                using your Account shall be deemed made by you for the purpose of accrual of this indemnity obligation.
                Each
                user, viewer and Registered Member is solely responsible for his or her actions, costs and expenses when
                using
                the Service, including, but not limited to, costs incurred for internet access.
            </li>
            <li>
                The entire news and markets data" is sourced from " An external data content agency" and Arihant is not
                responsible for its "integrity/availability" of the same.
            </li>
            <li>
                Additional Software: With respect to any additional software that may be made available by Arihant in
                connection with the Service, if you elect to download or access such additional software, you understand
                that
                you may have to agree to additional terms and conditions before and as a condition of your use of such
                software.
            </li>
            <li>
                Arihant Capital Market Ltd is not responsible for the content of any of the linked sites. By providing
                access
                to other web-sites, Arihant Capital Market Ltd is neither recommending nor endorsing the content
                available in
                the linked websites.
            </li>
            <li>
                You understand that the technical processing and transmission of the Service, including your Content,
                may
                involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical
                requirements of connecting networks or devices.
            </li>
            <li>
                Trademarks and Copyright: The content and information contained within our website or delivered to you
                in
                connection with your use of our website is the property of Arihant and any other third party (where
                applicable). The trademark, trade names and logos (the "Trade Marks") that are used and displayed on our
                website include registered and unregistered Trade Marks of Arihant and other third parties. Nothing on
                our
                website should be construed as granting any licence or right to use any Trade Marks displayed on our
                website.
                We retain all proprietary rights on our website. Users are prohibited from using the same without
                written
                permission of Arihant of such or such other parties. The materials on this website are protected by
                copyright
                and no part of such materials may be modified, reproduced, stored in a retrieval system, transmitted (in
                any
                form or by any means), copied, distributed, used for creating derivative works or used in any other way
                for
                commercial or public purposes without the Arihant's prior written consent.
            </li>

            <li>
                Indemnification: The Customer agrees to and shall indemnify and hold Arihant and each of the employee
                agents,
                consultants contractors, content providers or representatives of the Company harmless against all
                actions,
                claims, liabilities, demands, proceedings, losses, damages, costs, charges and expenses including
                reasonable
                attorneys' fees and court/ adjudicating body costs whatsoever, which Arihant may at any time incur,
                sustain,
                suffer or be put to as a consequence of or by reason of or arising out of (i) breach of the Customer's
                representations and warranties; (ii) improper use of the Account and/or Services by the Customer or any
                other
                person with/ without the consent of the Customer; or (iii) breach by Customer or any other person with/
                without the consent of the Customer, of any of the provisions of the Terms or any other agreement with
                Arihant
                or, (iv) by reason of the Arihant in good faith taking or refusing to take or omitting to take action on
                any
                instruction given by the Customer due to acts or omissions of the Customer, including but not limiting
                to: (a)
                Failure to intimate/inform Arihant when he/it suspects or knows that his/its Passwords are known to
                third
                parties or when third parties use his/its Passwords for carrying out unauthorized, unlawful or illegal
                transactions; (b) Failure to keep confidential and secure the Passwords from third parties; (c) Failure
                to
                inform Arihant regarding any changes in his/its personal information or Account information; (d)
                Unauthorized,
                unlawful or illegal access to the computer system/network and/or data of Arihant by using a Customer's
                Passwords; (e) Failure to comply with the law; (f) Failure to comply with the usage guidelines issued by
                Arihant in respect of Accounts or Services as may be applicable at the relevant time; (g) Failure to
                comply
                with these Terms and any agreement between Arihant and the Customer.
            </li>
            <li>
                The content of the website cannot be copied, reproduced, republished, uploaded, posted, transmitted or
                distributed for any non-personal use without obtaining prior permission from Arihant Capital Market Ltd.
                The
                company reserves the right to terminate the accounts of subscribers/customers, who violate the
                proprietary
                rights, in addition to necessary legal action. Read the disclaimer for further details on this.
            </li>
        </ul>
        <p>
            These terms and conditions shall be applicable to any person visiting/accessing the website and/or a
            Customer
            entering into an agreement related to availing of the Service offered by Arihant.
        </p>

        <p class="pt-4">
            <b>Product Disclaimer</b>
        </p>
        <ul class="term-list" style="list-style: disc;">
            <li>
                <b>Equity:</b> Investments in securities market are subject to market risks, read all the related
                documents carefully before investing. Please read the SEBI-prescribed Combined Risk Disclosure Document
                prior to investing.
            </li>
            <li>
                <b>Futures and Options (derivatives):</b> Derivatives are a sophisticated investment device. The
                investor is requested to take into consideration all the risk factors before actually trading in
                derivative contracts.
            </li>
            <li>
                <b>Stock Scanner:</b> Stock Scanners are not exchange-approved products and any disputes relating to
                this will not have access to the exchange investor redressal forum or arbitration mechanism.
            </li>
        </ul>
        <p class="pt-4">
            <b>Brokerage Charges</b>
        </p>
        <ul class="term-list">
            <li>
                ₹1000 off on brokerage for the first 30 days after your account is activated. This discount applies to
                all
                trades you make during this period.
            </li>
            <li>
                Note that extra charges like taxes, STT, CTT, GST and all other applicable Exchange/Regulatory/Statutory
                Charges/Taxes will be levied as per applicable rates
            </li>
            <li>
                The Company may change or cancel this offer at any time without prior notice.
            </li>
            <li>
                One-time account opening fee of ₹ 199 including.
            </li>
            <li>
                After 30 days of opening your account, the regular brokerage plan you selected during account setup will
                apply
                as below.
                <ul class="term-list" style="list-style: disc;">
                    <li>
                        Discount
                        <ul class="term-list" style="list-style: decimal;">
                            <li>
                                Equity Delivery ETFs & IPOs - ₹ 0
                            </li>
                            <li>
                                Equity Intraday, Equity Futures & Options, Currency Future & Options ₹20/Order
                            </li>
                        </ul>
                    </li>
                    <li>
                        Premium
                        <ul class="term-list" style="list-style: decimal;">
                            <li>
                                Equity Delivery - ₹ 0.30%
                            </li>

                            <li>Equity Intraday, Stock & Currency Futures - ₹ 0.03%</li>

                            <li> Equity Options - ₹ 25/Lot</li>

                            <li>
                                Currency Options ₹10/Lot
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                No AMC charges for the first year from the account opening date. From the second year, a fee of ₹400 +
                18% GST
                will apply as AMC charges.
            </li>
            <li>
                Zero Commission on Mutual Funds and IPOs
            </li>
            <li>
                Brokerage will not exceed the rates specified by SEBI and the Exchanges.
            </li>

        </ul>
        <p class="pt-4">
            If you do not agree to any of the terms mentioned in this agreement, you should exit the site. <br>
            <strong>Important: By accessing this website (<a target="_blank"
                    href="https://www.arihantplus.com/">www.arihantplus.com</a>)
                and any of its pages you are
                agreeing to the
                terms
                set out above.</strong>
        </p>
    </div>
    <!-- </div> -->
</section>
<app-footer></app-footer>