<div class="modal-bdy risk-analysis">
    <div id="job-details-modal-cover1">
        <div class="modal1-content job-details-content">
            <div class="card border-none text-center">
                <b class="font-32 text-black-80">
                    Success!
                </b>
                <img src="../../../../assets/images/Reset-Successful.svg" style="width: 80px;margin: 0 auto; text-align: center;">
                <p class="my-3 text-black-56 light-grey font-14">
                    Password reset successful!
                </p>
                <p class="my-3 text-black-56 light-grey font-14 text-center">
                    Your password was reset and can be used to login.
In case you are not able to access your account with the new password, you can try to connect our support team.
                </p>
                <div>
                    <p class="text-center ff-txt"><a (click)="decline()"
                        href="javascript::void(0);">{{'Back to login'}}</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal-footer d-flex justify-content-between">
  <a class="btn modal-btn-continue" (click)="decline()">
    Cancel
  </a>
  <a class="btn modal-cancel" (click)="accept()">Reject </a>
</div> -->