<div id="signature-pad" class="signature-pad">
    <canvas #canvas></canvas>
    <div class="signature-pad--actions">
        <div class="form-group ">
            <button type="button" class="red-transparent-btn m-1" data-action="clear">Clear </button>
            <button type="button" class="crop-image-btn m-1" data-action="save-jpg">Confirm
            </button>
        </div>

        <!-- <button data-action="clear">Clear</button>
        <button data-action="change-color">Change Color</button>
        <button data-action="undo">Undo</button>
        <button data-action="save-png">Save as PNG</button>
        <button data-action="save-jpg">Save as JPG</button>
        <button data-action="save-svg">Save as SVG</button> -->
    </div>
</div>