<section class="bg-white pt-4 pb-5">
  <div class="container text-center my-3">
    <h2>
      What our clients have to say
    </h2>
    <p class="font-20 pt-2">
      about the ArihantPlus experience
    </p>
    <div class="row mx-auto my-auto">
      <div id="recipeCarouselClient" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100">
          <div class="carousel-item active">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Awesome experiences
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    "Awesome experience. Finger print login feature, switching between multiple accounts, smooth and
                    user friendly functions and many more features are really good."
                  </p>
                  <hr />
                  <div class="row ">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Sudeep Jain
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        11 Oct 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-sudeep-jain.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Fantastic Broker
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “Arihant Capital is fantastic broker and I love their trading app. The company is transparent and I
                    trust them with my funds. I am a professional and don’t usually have time to took at my portfolio.
                    But my advisor at Arihant keeps me updated and I am happy to see my money growing through SIP and
                    long term stock investments suggested by the team”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Praveen Singh
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        17 Nov 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-praveen-singh.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Really Fast
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “this app is really fast. i am able to place orders in less than 2 seconds literally from searching
                    to placing orders. maza agya. highly recommended”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          bala&#64;1119
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        26 Sep 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-bala@1119.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Love it
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “Amazing application and features. Being a beginner, i just tried a few trading applications. This
                    app gives you information about everything so it's easier to understand markets. Love it.”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Namita Shah
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        14 Dec 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avavtaar-namita-shah.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Good Performance
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “Loving the new update, fingerprint login made login super smooth. Good performance, no glitches in
                    making trade. I could buy my first few stocks super quickly. The design is also pretty clean. If i
                    could suggest an improvement, it will be to allow me to add indices to my watchlist.”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Snehal Narang
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        07 Dec 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-snehal-narang.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Trusted Platform
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “For someone who’s not tech-savvy, I really love how easy Arihant Plus app is to use. I can see my
                    orders, portfolio and holdings in one section, place the trade so quickly without the clutter most
                    app has on the order pad. The cherry on top, their team is always ready to help and also provides
                    guidance when needed. Really a trusted platform with great service n tech”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Pavan Ved
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        29 Dec 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-pavan-ved.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body border-none p-0 m-2">
                <div class="bg-white border-grey p-4 rounded-16 shadow-sm ml-auto my-4">
                  <img class="img-fluid" alt="star-icon" src="assets/images/image-star-rating-5-of-5.png" />
                  <p class="mt-3">
                    <b class="font-20 line-height-26">
                      Excellent UI
                    </b>
                  </p>
                  <p class="mt-1 font-black font-20">
                    “Excellent UI, Im an active trader and find this app really easy to navigate. The option chain is
                    really good makes my options trading smooth. Great app 👌. One suggestion.. add mutual fund also in
                    the app.”
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col-8 text-left font-16">
                      <p class="my-0 py-0">
                        <b class="text-black-64 testimonial-client-name">
                          Vaibhav Pahadiya
                        </b>
                      </p>
                      <!-- <p class="my-auto mr-auto text-black-64">
                        07 Dec 2022
                      </p> -->
                    </div>
                    <div class="col-4">
                      <img alt="testimonial-img" src="assets/images/avataars/avataar-vaibhav-pahadiya.png"
                        class="my-auto mx-3 avataar-circle p-1 img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev w-auto" aria-label="Prev" href="#recipeCarouselClient" role="button"
          data-slide="prev">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next w-auto" aria-label="Next" href="#recipeCarouselClient" role="button"
          data-slide="next">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>