<section class="faq-section pb-4">
  <div class="container">
    <div class="faq-heading">
      <h1>FAQs</h1>
      <p>Open a demat account with ArihantPlus</p>
    </div>
    <div class="accordion w-100 mt-5" id="faqaccordion">
      <div class="card">
        <div class="card-header bg-white" id="headingOne">
          <h2>
            What is the brokerage cost of trading in Equities?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-label="collapse" aria-controls="collapseOne">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>At ArihantPlus, we want every Indian to achieve financial independence and hence we offer really
              competitive rates so you can get more from your investments.</p>
            <ul style="list-style-type: disc;" class="ml-5">
              <li>
                <b style="font-style: italic;">DELIVERY: </b> “Zero” fee for equity delivery trades, which means you
                don’t pay us anything if you buy a
                stock and take its delivery.
              </li>
              <li><b style="font-style: italic;">INTRADAY: </b> ₹20 per order or 2.5%, whichever is lower, for both buy
                and sell orders.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white" id="headingTwo">
          <h2>
            What is the brokerage cost of trading in Futures & Options?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-label="collapse" aria-controls="collapseTwo">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>Our prices are straightforward, low and simple.</p>
            <ul style="list-style-type: disc;" class="ml-5">
              <li>
                <b style="font-style: italic;">Futures: </b> ₹20 per order.
              </li>
              <li><b style="font-style: italic;">Options: </b> ₹20 per order. Your maximum brokerage cost remains ₹20
                per order, irrespective of the order size.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white" id="headingThree">
          <h2>
            Do you offer a margin against shares?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-label="collapse" aria-controls="collapseThree">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>Yes, we offer margin trading funding (MTF) for our clients so you can leverage the shares in your demat
              account to get extra margin for placing trades. Open an account and request for MTF and you will get
              access upon approval.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white" id="headingFour">
          <h2>
            Do you charge subscription fee for using the mobile app?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-label="collapse" aria-controls="collapseFour">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>No, zero, zilch. You can use the ArihantPlus mobile and web trading platforms for free. There is no
              platform fee. You can open an account for free and start trading in minutes.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white" id="headingFive">
          <h2>
            What is your square-off charges?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-label="collapse" aria-controls="collapseFive">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>When you place an intraday order and the system squares off your position, you pay a nominal fee. You
              will be levied auto square-off charges of ₹50 (plus GST of 18%) per order for open positions squared-off
              by the RMS team at the usual intraday square-off times. To avoid auto square-off charges, you can square
              off your positions yourself through mobile app or web before 3:15 pm. </p>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white" id="headingSix">
          <h2>
            Do you offer research?
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#headingSix"
              aria-expanded="true" aria-label="collapse" aria-controls="headingSix">
              <i class="fa fa-angle-down"></i>
            </button>
          </h2>
        </div>
        <div id="headingSix" class="collapse" aria-labelledby="headingThree" data-parent="#faqaccordion">
          <div class="card-body m-3">
            <p>es, we are registered with SEBI for providing research. When you open an account with ArihantPlus, you
              get access to free research from award-winning analysts right on your mobile app. The Actional Research
              feature will make it easy for you to discover great stock ideas and execute your trade in 2 clicks from
              right there. Isn’t that cool?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-center reg-card reg-main-btn mt-5">
      <a rel="noopener" href="https://support.arihantcapital.com/support/solutions" target="_blank"><button
          style="border-radius: 12px;" type="submit" class="btn text-white text-center p-3">
          View More FAQs
        </button></a>
    </div>
  </div>
</section>