<section class="declarations-main">
  <div class="container">
    <div class="row">
      <div class="dec-header d-flex justify-content-between w-100 align-items-center">
        <div>
          <h2>Terms & Conditions</h2>
          <p>Arihant Capital Markets Ltd</p>
        </div>
        <div class="fxd-btn">
          <a href="javascript:void(0)" (click)="navigate('bank-account-details')">change details instead</a>
          <a href="javascript:void(0)" (click)="proceedToSubmit()" class="acc-btn">Accept & Continue <i
              class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="dec-content">
        <div class="select-label mb-3 d-flex justify-content-between">
          {{'This document contains important information regarding the terms and conditions, which apply to your Net
          -Trading Account with Arihant Capital Markets Ltd. PLEASE READ THIS DOCUMENT CAREFULLY and retain it for
          future reference. Please note that the information contained herein is subject to change without notice.' |
          translate}}
        </div>
        <h3>Opening your Arihant Capital Markets Ltd. Net Trading Account</h3>
        <p>To start Net trading with Arihant Capital Markets Ltd. you need to open a trading Account and a Depository
          (or Demat shares) Account with Arihant Capital Markets Ltd.. All receipts and payments for buying and selling
          of shares and all commissions and charges will be posted to your trading Account . Shares which you buy and
          sell through the trading Account will be received in or delivered from your demat Account. Trading account
          refers to the account of client maintained by Arihant Capital Markets Ltd. in their books of accounts.</p>
        <!-- <h3>Title here</h3> -->
        <p> Demat account refers to the account opened by you with Depository for holding securities in electronic form.
          For the purpose of Net-Trading through Arihant Capital Markets Ltd. demat account refers to the account opened
          by client with National Securities Depository Limited (NSDL) through Arihant Capital Markets Ltd. as
          Depository Participants (DP). If you already have a demat Account with Arihant Capital Markets Ltd., then the
          same Account can be linked to your Net trading Account. Just give us your Account details at the time of
          becoming a Net trading customer.Before we can make your Account operative, we require that you fill and sign
          all forms / agreements which form part of your Account opening kit, and supply us with all the relevant legal
          documents and financial information which law requires us to maintain. You warrant and represent that the
          information that you supply in your Account Application (or other information that Arihant Capital Markets
          Ltd. may require) is accurate and truthful. You also expressly authorize Arihant Capital Markets Ltd. to
          obtain reports concerning your credit standing and business conduct.</p>
        <p> If your application is approved, Arihant Capital Markets Ltd. will open a Net trading Account (an "Account")
          for you. We reserve the absolute right to either accept or reject your application on any grounds whatsoever
          and you agree that you shall not dispute the result in any manner whatsoever.</p>
        <!-- <h3>Title here</h3> -->
        <h3>B) Investment advice</h3>
        <p>You acknowledge that while Arihant Capital Markets Ltd. does provide advice regarding the suitability or
          profitability of a Scrip or investment, or any other tax or legal advice it may add on from time to time, You
          assume full responsibility with respect to transactions in or for your Account and your investment decisions.
          Arihant Capital Markets Ltd. and its officers, directors, employees, agents and affiliates will have no
          liability with respect to transactions in or for your Account and your investment decisions.</p>
        <h3> C) Applicable rules and regulations</h3>
        <p>All transactions in your Account shall be subject to the constitution, rules, regulations, customs and usage
          of the exchange or market, and its clearing house, if any, where the transactions are executed by Arihant
          Capital. or its agents, including Arihant Capital Markets Ltd.âs subsidiaries and affiliates.
          Also, where applicable, the transactions shall be subject to the provisions of the Securities and Contracts
          Regulations Act (SCRA), as amended, and to the rules and regulations of the Securities and Exchange Board of
          India (SEBI), National Securities Depository Limited (NSDL), the exchanges where Arihant Capital Markets Ltd.
          will facilitate trading, and any applicable self-regulatory organization. </p>
        <h3>D) Who is eligible</h3>
        <p>You can open these Accounts if you are over 18 years and if you will operate this on an individual basis. It
          is open for resident Indian only. Indian regulations require us to maintain basic financial details about each
          client. You need to provide us the details of your bank Account. Your signatures on the Account opening form
          need to be the same, as maintained in the bank records. All Resident Individuals need to provide us Income Tax
          returns details - IT PAN/GIR number, during your Account opening process. </p>
        <h3>E) Commissions and fees</h3>
        <p>As mutually agreed and subject to the maximum prescribed by SEBI. </p>
        <h3>F) Depository Account</h3>
        <p>1. Joint Accounts</p>

        <p> Your demat Account can be held jointly with other people (typically relatives). For your demat Account, an
          instruction given to us by someone who knows your password will be necessary and sufficient condition to
          effect a transaction. Please note that normally regulations require both the Account holders to sign on
          instruction but that you are agreeable to any transactions on such Account being executed in the manner
          outlined above. </p>
        <p>2. Nomination</p>
        <p> You can also nominate someone in your Demat Account, who becomes the beneficiary of the shares held in the
          Account in the unfortunate event of your demise.</p>
        <h3>G) Cheque receipt/ payment</h3>
        <p>You can deposit amount in your Account by using Internet banking, or by personal cheque or a demand draft.
          Credit will be available in your Account after the funds are cleared. </p>
        <h3>H) Digital contract notes </h3>
        <p>Contract notes, as per the prevailing rules and regulations, shall be issued within the stipulated time limit
          by e-mail to the address submitted by you. </p>
        <h3>I) Exposure Limit</h3>
        <p>Different scrips attracts different margin</p>
        <h3>J) Compliance action</h3>
        <p> We may initiate compliance action in case of any default in payments of any dues receivable by us from
          client.</p>
        <p> A. Compliance action includes but not limited to --</p>
        <p> 1. Squaring off of outstanding transactions.</p>
        <p>2. We have full LIEN ON CASH AND SECURITIES BALANCES in trading account /depository account of client and may
          sale such securities lying with us or stock lying in client depository account with us. Any loss arising out
          of squaring off or sale of securities will be to client account and we will not be liable for any cost or
          damage or any consequences thereof.</p>
        <p>3. Locking / suspending client account and no further transactions will be allowed till the time all dues are
          settled or till the time as may deem fit by us. </p>
        <p>4. Withholding payout of securities bought by client against any dues receivable by us.</p>
        <p>5. Levy of interest &#64;24 p.a. for any delay in receipt of our dues, which includes pay in amount, margin
          amount, fees, commission, or pay other charges. We may take any one or all compliance actions as mentioned
          above and will intimate to the client on compliance action being taken and details thereof. To avoid
          compliance action, client should deposit additional funds, squared off outstanding transactions or sale other
          securities lying in his depository account to make his CCB positive. Client should always look at his
          exposure, M to M losses, pay in and other obligation alerts forwarded by us, etc. to enable himself to take
          necessary action in a timely manner. </p>
        <h3>K) Disclosure of Information regarding client</h3>
        <p>Arihant Capital Markets Ltd. hereby undertakes to maintain the details of the client as mentioned in the
          client registration form or any other information pertaining to the client, in confidence and that he shall
          not disclose the same to any person/entity except as required under the law:</p>
        <p>Provided however that Arihant Capital Markets Ltd. shall be allowed to share the details of the client as
          mentioned in the client registration form or any other information pertaining to the client with
          parties/entities other than required under law with the express permission of the client.</p>
      </div>
      <div class="dec-header border-top-btn d-flex justify-content-between w-100 align-items-center mt-2">
        <div>
          &nbsp;
        </div>
        <div class="fxd-btn">
          <a href="javascript:void(0)" (click)="navigate('bank-account-details')">change details instead</a>
          <a href="javascript:void(0)" (click)="proceedToSubmit()" class="acc-btn">Accept & Continue <i
              class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>