<footer id="ctl00_Footer1" style=" min-height: 300px; background-color: #0F0F0F;   z-index: 100;" class="noindex">
  <div class="sfContentBlock">
    <div class="container footcontainer noindex">
      <div class="row text-center d-flex align-item-center justify-content-center footer-logo  mb-4 pb-4">
        <img style="width: 205px;height: 48px;" src="/assets/images/logo-white.png" alt="" class="text-center m-auto"
          width="auto">
      </div>
      <div class="text-center">
        <hr style="border-bottom:  1px solid rgba(255, 255, 255, 0.12);">
      </div>
      <div class="row pt-5 noindex text-center ">
        <div class="footcontact col-lg-4 col-md-4 col-xs-6 col-sm-4 noindex">
          <h3 class="f_head"><a href="https://www.arihantplus.com/products">Product</a></h3>
          <ul>
            <li class="contactdetails calcri"> <a rel="noopener" href="https://www.arihantplus.com/stocks"
                target="_blank">Stocks</a> </li>
            <li class="contactdetails calcri"> <a rel="noopener" href="https://www.arihantplus.com/products-services"
                target="_blank">ETFs</a> </li>
            <li class="contactdetails calcri"><a rel="noopener" href="https://www.arihantplus.com/derivatives"
                target="_blank">Options</a></li>

            <li class="contactdetails calcri"><a rel="noopener" href="https://www.arihantplus.com/futures-and-options"
                target="_blank">Futures </a></li>
            <li class="contactdetails calcri"><a rel="noopener" href="https://www.arihantplus.com/ipo-s"
                target="_blank">IPOs</a></li>
          </ul>
        </div>
        <div class="footcontact noindex col-lg-4 col-md-4 col-xs-6 col-sm-4 foot_5th no-padding">
          <h3 class="f_head">Connect </h3>
          <ul>
            <li class="contactdetails"><a rel="noopener" href="https://www.arihantplus.com/contact-us"
                target="_blank">Contact Us</a></li>
            <li class="contactdetails"><a rel="noopener" href="https://www.arihantplus.com/support"
                target="_blank">Support </a></li>
            <li class="contactdetails"><a rel="noopener" href="{{env.footerSiteUrl}}/business-partner"
                target="_blank">Partner with
                us</a></li>
          </ul>
        </div>
        <div class="footcontact noindex col-lg-4 col-md-4 col-xs-6 col-sm-4">
          <h3 class="f_head">Follow Us</h3>
          <div class="footsocial noindex ">
            <div class="usefulinks noindex">
              <ul>
                <li><a rel="noopener" target="_blank" href="https://www.facebook.com/profile.php?id=100094051873100"
                    aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
                <!-- <li><a rel="noopener" target="_blank"
                    href="https://www.linkedin.com/company/arihant-capital-markets-ltd" aria-label="Linked In"><i
                      class="fa fa-linkedin"></i></a></li> -->
                <li><a rel="noopener" aria-label="Twitter" target="_blank" href="https://twitter.com/ArihantPlus"><i
                      class="fa fa-twitter"></i></a>
                </li>
                <!-- <li><a rel="noopener" target="_blank" href="https://www.youtube.com/channel/UCrPcG3wkHygflvEIMcb_I3Q"
                    aria-label="You tube"><i class="fa fa-youtube-play"></i></a></li> -->
                <li><a rel="noopener" target="_blank" href="https://www.instagram.com/arihant_plus/"
                    aria-label="instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-1 important-links">
        <div class="col-lg-12 col-md-12 ml-0 pl-0 my-2 important-links-option">
          <b class="mr-2">Important Links</b>
          <a rel="noopener" target="_blank" href="https://www.bseindia.com/"
            class="link-color-arihant border-left px-3">BSE</a>
          <a rel="noopener" target="_blank" href="https://www.nseindia.com/"
            class="link-color-arihant border-left px-3"> NSE </a>
          <a rel="noopener" target="_blank" href="https://www.sebi.gov.in/sebiweb/"
            class="link-color-arihant border-left px-3">SEBI</a>
        </div>
      </div>
      <div class="row m-1">
        <div class="browser_p col-md-12 mt-3 ml-0 p-0">
          <p> Arihant Capital Markets Limited is a SEBI registered stock broker and depository participant. SEBI
            Registration number for NSE & BSE :- INZ000180939; NSDL - IN-DP-127-2015 DP ID-IN301983; CDSL DP
            ID-43000;NCDEX - 01274; MCX - 56565; AMFI - ARN 15114; SEBI Merchant Banking Reg. No. - MB INM000011070;
            SEBI Research Analyst Reg. No. - INH000002764. <b style="color: #FFFFFF;">Registered Address:</b> 6, Lad
            colony, Y.N. Road, Indore – 452001. <b style="color: #FFFFFF;">Corporate office address:</b> #1011 Solitaire
            Corporate Park, Andheri Ghatkopar Link Road, Chakala, Andheri (E), Mumbai - 400093.</p>
          <br>
          <p>Please carefully read the risk disclosure document as prescribed by SEBI and Do’s & Don’ts by NSE,
            BSE,NCDEX & MCX. For any complaints regarding securities broking, pls write to <a
              style="text-decoration: underline;" href="mailto:compliance@arihantcapital.com"
              target="_blank">compliance&#64;arihantcapital.com</a> and for DP
            write to <a style="text-decoration: underline;" href="mailto:depository@arihantcapital.com"
              target="_blank">depository&#64;arihantcapital.com</a>.
          </p>
          <br>
          <p>If you want to register your complaints through SEBI Score Portal please <a
              style="text-decoration: underline;" target="_blank" rel="noopener"
              href="https://scores.gov.in/scores/Welcome.html">"click
              here"</a>. Mandatory details for filing complaints
            on SCORES: Name, PAN, Address, Mobile Number, E-mail ID. Benefits: Effective Communication, Speedy redressal
            of the grievances <br>
            Investments in securities market are subject to market risks; read all the related documents carefully
            before investing.<br>
            <!-- Disclaimer: Arihant Capital Markets Limited is engaged in client based and proprietary trading on various
            exchanges. -->
          </p>
        </div>
      </div>
      <div class="row noindex m-1" style="magring-top:5px;">
        <div class="col-sm-12 col-md-12  noindex col-lg-12 footdivide pl-0 ml-0 border-none">
          <div class="browser_p padding-bt-0 noindex ml-0 mt-3 ">
            <p style="color:#FFFFFF;" class="pl-0 pb-0"><b>Disclaimer</b></p>
          </div>
          <div class="mt-2 ml-3">
            <ul style="list-style-type: disc;">
              <li>Investments in the securities market are subject to market risks. Please read all related documents
                carefully before investing.</li>
              <li>Brokerage will not exceed the SEBI prescribed limit.</li>
              <li>The securities mentioned are examples and not recommendations.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row noindex m-1" style="magring-top:5px;">
        <div class="col-sm-12 col-md-12  noindex col-lg-12 footdivide pl-0 ml-0">
          <div class="browser_p padding-bt-0 noindex ml-0 mt-3 ">
            <p style="color:#FFFFFF;" class="pl-0 pb-0"><b>ATTENTION INVESTORS</b></p>
          </div>
          <div class="mt-2 ml-3">
            <ul style="list-style-type: disc;">
              <li>KYC is one time exercise while dealing in securities markets - once KYC is done through a SEBI
                registered intermediary (Broker, DP, Mutual Fund etc.), you need not undergo the same process again when
                you approach another intermediary.</li>
              <li>For Stock Broking Transaction 'Prevent unauthorised transactions in your account - update your mobile
                numbers/email IDs with your stockbrokers. Receive information of your transactions directly from
                Exchange on your mobile/email at the end of the day.</li>
              <li>For Depository Transaction 'Prevent Unauthorized Transactions in your demat account - Update your
                Mobile Number with your Depository Participant. Receive alerts on your Registered Mobile for all debit
                and other important transactions in your demat account directly from CDSL/NSDL on the same day.</li>
              <li>If you are subscribing to an IPO, there is no need to issue cheques. Just write the bank account
                number and sign in the application form to authorise your bank to make payment in case of allotment. No
                worries for refund as the money remains in investor's account.</li>
              <li>Investors should be cautious on unsolicited emails and SMS advising to buy, sell or hold securities
                and trade only on the basis of informed decision. Investors are advised to invest after conducting
                appropriate analysis of respective companies and not to blindly follow unfounded rumours, tips etc.
                Further, you are also requested to share your knowledge or evidence of systemic wrongdoing, potential
                frauds or unethical behaviour through the anonymous portal facility provided on BSE & NSE website.</li>
              <li>Registration granted by SEBI and certification from NISM in no way guarantee performance of the
                intermediary or provide any assurance of returns to investors.</li>
            </ul>
          </div>
          <div class="browser_p padding-bt-0 noindex ml-0 mt-4">
            <p class="pl-0 pb-0 text-white"><b>Awareness regarding guidelines of margin collection:</b></p>
          </div>
          <div class="mt-2 ml-3">
            <ul style="list-style-type: decimal;">
              <li>Stock brokers can accept securities as margins from clients only by way of pledge in the depository
                system w.e.f September 01, 2020.</li>
              <li>Update your e-mail and phone number with your stock broker / depository participant and receive OTP
                directly from depository on your e-mail and/or mobile number to create pledge.</li>
              <li>Check your securities / MF / bonds in the consolidated account statement issued by NSDL/CDSL every
                month.</li>
            </ul>
          </div>
          <div>
            <p class="pb-3">Issued in the interest of investors</p>
          </div>
        </div>
      </div>
      <div class="row noindex" style="margin-top:5px;">
        <div class="col-sm-6 col-md-6 col-lg-6 noindex copyright text-center text-lg-left">
          <p>Copyright © {{currentYear}} Arihant Capital Markets Ltd. All rights Reserved.</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 noindex  copyright text-center text-lg-right">
          <div class="dis noindex ">
            <ul>
              <li><a rel="noopener" style="text-decoration: underline;"
                  href="https://www.arihantplus.com/privacy-and-security" target="_blank">Privacy</a></li>
              <li><a rel="noopener" style="text-decoration: underline;"
                  href="https://www.arihantplus.com/terms-and-conditions" target="_blank">Terms &amp; Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>